
{% load static  %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'esoterics\css\base.css' %}">    
</head>


<nav class="navbar navbar-expand-lg navbar-light background-color">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-pills nav-fill">
        <!--<ul class="nav flex-column"> --- gorizontal navbar --- -->
          <li class="nav-item">
            <a class="nav-item nav-link" aria-current="page" href="{% url 'home' %}">Домашняя страница</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="{% url 'blog' %}">Блог</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="{% url 'news_view' %}">Новости</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="{% url 'price_view' %}">Цены</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" href="{% url 'contact_view' %}">Контакты</a>
          </li>

        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-item nav-link" href="{% url 'logout' %}">Выход</a>
            </li>
      {% else %}
            </li>
            <li class="nav-item">
            <a class="nav-item nav-link" href="{% url 'registration' %}">Регистрация</a>
            </li>
            <li class="nav-item">
            <a class="nav-item nav-link" href="{% url 'login' %}">Вход для зарегестрированных пользователей</a>
            </li>
      {% endif %}
        </ul>
      </div>

      {% if user.is_authenticated %}
       <div class="Block" style="margin-bottom:25px;">
                <br>Вы авторизованы как: {{user.username}}
        </div>
      {% else %}
        <div class="Block" style="margin-bottom:25px;">
            <br>Вы не авторизованы
       </div>
      {% endif %}
      
    </div>
  </nav>
</head>
<body>


<div>
    <p class="image-center">
    <img src="{% static 'esoterics\images\МАГ.jpg' %}" alt="" class="image-border"/>

</div>


<div >

    <p class ="text-orange">Добрый день. Меня зовут Артамон 6. Я потомственный маг-клирик в шестом поколении.

    Всю жизнь меня окружали магические существа, демоны и другая нечисть. И всю жизнь я хотел ее лечить. Не знаю откуда такое странное для моей семьи желание - мои деды и прадеды всегда были боевыми магами огня.
    
    Наверное это моя мама повлияла на меня. Она всю жизнь владела магией природы. Она выращивала растения, управляла погодой и переживала за каждый листочек на дереве или травинку на поляне. Моя мама очень сильно любила природу, и отдала за нее свою жизнь как только мне стукнуло пятнадцать лет.
    
    С тех пор много времени прошло, я выучился, набрался сил. Тридцать пять лет посвятил учебе и поиску предателя, из-за которого погибла моя мама.
    
    Я обогнул наш мир, побывал в потустороннем мире, познакомился с сильнейшими магами воды и воздуха, а так же некромантами и темными волшебниками. У каждого я спрашивал что им известно про гибель моей мамы. Все говорили что не в курсе, некоторые даже не слышали о ней.
    
    И только в самых глубинах потустороннего мира, я нашел древнего как мир старика, которые предупредил меня, что я не смогу пережить правду, и мне стоит забыть про эту затею и найти себе другую цель в жизни.
    
    Я вспылил, начал кричать и ругаться бранными словами. Я кричал на него, из моего рта летела слюна, глаза покраснели, а вены на шее надулись от напряжения. Но некромант сидел спокойно и смотрел на меня с легким пренебрежением и печалью в глазах.
    
    Успокоившись, я сел рядом без сил. Он мне протянул стакан воды. Он попал в точку - от крика у меня пересохло во рту, и стакан воды как раз пришелся кстати.
    
    Старик некромант начал издалека, рассказал как познакомился с моей мамой, рассказал что с ней успел попутешествовать до того, как она познакомилась с моим отцом.
    
    Он был старше ее, и полюбил ее как дочь. Я видел как ему больно вспоминать, и мне стало стыдно за свое поведение.
    
    Но не успел извиниться, потому что меня сковал страх, я онемел и застыл, потому что ненамеренно старик начал рассказывать про меня. И рассказывал такое, что я столько лет заталкивал в самые глубины своей памяти, пытаясь забыть.
    
    Я резко вспомнил. Вспомнил все...
    
    Когда мне было шесть лет, я научился выращивать големов из глины. Маме это не понравилось, она поругала меня и попросила больше не создавать големов.
    
    Но я ослушался и постоянно практиковался в их изготовлении, и достиг очень больших результатов.
    
    Я делал это в тайне от мамы, высоко в горах, среди скал. Мама сюда не ходила, так как тут не росло ни одно растение, скалы были безжизненные.
    
    Однако среди скал была пещера. В ней я проводил свои эксперименты.
    
    За много лет я успел создать много големов. Они все продолжали жить, я не мог их уничтожить, и всегда оставлял в пещере.
    
    Но однажды у меня получился совсем необычный голем, который был умнее других, постоянно интересовался окружающим миром. С ним было весело играть. Он мне был как ручной щенок, на столько милый и смышленый он был.
    
    Я всегда запрещал големам выходить из пещеры, так как их там ждала только смерть. И они боялись и не выходили. Пока мой смышленышь не начал спрашивать почему я ухожу от них и почему мне можно выходить, а им нет.
    
    Я пробовал объяснить как мог, но не добился нужного результата - всегда видел сомнение в его каменных глазах.
    
    Когда мне исполнилось пятнадцать, я очередной раз пришел в пещеру, и увидел что она пуста. У меня перехватило дыхание от ужаса, я знал что может сделать целая армия големов, выйди она из-под контроля.
    
    Я сам создал армию, которая начала разрушать все, что попадалось на ее пути. И на ее пути оказался наш дом, дальше которого армия големов не смогла пройти, и была сокрушена и уничтожена полностью.
    
    Но цена той победы была слишком велика - ценой была жизнь моей обожаемой матери...
    
    Старик был прав, я не могу это пережить...
    
    --- </p>


</div>

</body>
</html> 
{% endblock %}