
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  

}
 
 .wrapper {
 
  min-height: 100%;
  
  
  
 }

 .wraper-contents {
 
  padding-bottom: 90px;
  
}

.footer {
  margin-top: 150px;
  left: 0;
  bottom: 0;
  width: 100%;
}


